// @import "./theme.scss";
$--color-text-primary: #677c91 !default;
$--color-text-primary-hover: #7196fe !default;
$--color-text-title: #353535 !default;
$--color-border-primary: #e8ecef !default;
$--bg-color-primary: #ffffff !default;
$--border-color-primary: #e8ecef !default;
$--bg-button-color: #7196fe !default;
$--font-size-28: 28px;
$--font-size-24: 24px;
$--font-size-18: 18px;
$--font-size-16: 16px;
$--font-size-14: 14px;
$--font-size-12: 12px;
$--font-weight: bold;
$--border-radius: 4px;
$--box-shadow: 0 0 10px 0 rgba(241, 243, 244, 0.8);
$--bg-nav-color: #f8fafb;

// layout
$--header-height: 50px;
$--padding-side: 20px;
$--navigation: #fff;

//index
$--i-name-color: #252631;
$--i-geniubot-color: #353535;
$--i-in-color: rgba(53, 53, 53, 0.6);

//details
$--d-table-hover-color: #f8fafb;

$--color-menu: #0061ad;
$--color-menu-active: #1e80ff;
$--color-body: #f5f5f5;
$--color-box: #fff;
$--color-header: #fff;
$--color-text: #000000d9;
$--color-border: rgba(0, 0, 0, .07);
